:root {
	--violet: #876cd6;
	--light-violet: #e4dbff;
	--black: #1f1f22;
	--grey: #8da0ba;

	--dark-blue: #0b054d;
	--dark-blue-2: #241e75;
	--blue: #2726e9;
	--light-blue: #65cefa;
	--pink: #df3a7e;
	--white: #fffeff;
	--yellow: #f5d270;
}
