:root {
    --violet: #876CD6;
    --light-violet: #e4dbff;
    --black: #1F1F22;
    --grey: #8DA0BA;

    --dark-blue: #0B054D;
    --dark-blue-2: #241e75;
    --blue: #2726E9;
    --light-blue: #65CEFA;
    --pink: #DF3A7E;
    --white: #FFFEFF;
    --yellow: #F5D270;



}
